<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Signup</title>
</head>
<body>
    <div class="container">
      <h1>Signup</h1>
    <div >
        <script>
            {% if note %}
            alert("{{note}}")
            {% endif %}
        </script>
        <!-- Include the CSRF token -->
        <form action="" style="" class="form" method="post">
            {% csrf_token %}
            
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter username" required>
            
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address" required>
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="*******" required>
            
            <button type="submit"  formaction="{% url 'login:signup' %}">Signup</button>
       <div>Click here to <a style="font-weight: bold;" href="{% url 'login:loginPage' %}" class="btn">Login</a></div>
    </form>

</div>
    
    </div>
    
    
</body>
</html>
